{% extends "base.html" %}

{% block content %}
    <div  class="offset-by-four six columns" id="sign-in-form">
        <div class="row">
            <h4>Sign In</h4>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
            <p>
                {{ form.username.label }}
                {{ form.username(size=32) }}
            
                {% for error in form.username.errors %}
                    <span class="form-error">[{{ error }}]</span>
                {% endfor %}
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span class="form-error">[{{ error }}]</span>
                {% endfor %}
                {{ form.remember_me.label }}{{ form.remember_me() }}
            </p>
                {{ form.submit() }}
            </div>

            <p>If you need an account, go <a href="{{ url_for('users.register') }}">here</a> to register.</p>
        </form>
    </div>
{% endblock %}