<!DOCTYPE html lang="en">
<html>
    <head>

    </head>
    <body>
        <p>Dear {{ name }},</p><br>

        <p>We wanted to take a moment to thank you for registering with GanTeva's rental gear management site. 
        We are thrilled to have you as a new member of our community! Your registration marks the beginning of
        an exciting journey with us. Whether you're here to explore our services, connect with like-minded 
        individuals, or access exclusive content, we're committed to providing you with a seamless and rewarding 
        experience.</p>

        <p>As a registered member, you now have access to request and manage your child's gear rental online. 
        We ncourage you to take full advantage of these resources to make the most out of your time on our platform.</p>

        <p><b>Please note</b>: your username to login to the site in the future is your email address that was provided during registration.
        On next login, please use {{ email }} with the password you set. <a href="{{ url_for('users.login', _external=True) }}">Login</a></p>

        <p>If you have any questions, feedback, or suggestions, please don't hesitate to reach out to our customer 
        support team at <a href="mailto:support@ganteva.org">support@ganteva.org</a>. We're here to assist you every 
        step of the way.</p>

        <p>Once again, thank you for choosing GanTeva gear rental. We look forward to serving you and creating meaningful 
        experiences together.</p><br>

        <p>Take very good care,</p><br>
        
        <p><em>Sarah Maynard</em></p>
        <p><em>Director, Lead Teacher</em></p>
        <p>Gan Teva Early Learning Center</p>
        <p><a href="tel:571.305.5966">571.305.5966</a></p>
        <p><a href="https://ganteva.org/">ganteva.org</a></p>
    </body>
</html>