{% extends "admin/admin.html" %}

{% block content %}

    <div class="row twelve columns">
        <div class="offset-by-four four columns">
            <h4>{{ legend }}</h4>
        </div>
    </div>
    <div class="row twelve columns">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row twelve columns">
            <div class="offset-by-one three columns">
                {{ form.name.label }}
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                    <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="offset-by-three three columns">
                {{ form.desc.label }}
                {{ form.desc(size=32) }}
                {% for error in form.desc.errors %}
                    <span class="form-error">[{{ error }}]</span>
                {% endfor %}
            </div>
        <div class="row twelve columns">
            <hr>
        </div>
        <div class="row twelve columns">
            <div class="offset-by-two three columns">
                {{ form.submit(class="button edit") }}
            </div>
                {% if legend == 'Update Category' %}
                <div class="two columns">
                <a href="{{ url_for('admin_gear.delete_category', id=category.id) }}">
                    <input  class="button delete" type="button" value="Delete" 
                    onclick="return confirm('Do you want to delete category {{ category.name }}')">
                </a>
                </div>
                <div class="three columns">
                    <a href="{{ url_for('admin_gear.categories_admin') }}"><input type="button" value="Cancel"></a>
                </div>
                {% elif legend == 'Add Gear Category' %}
                <div class="offset-by-two two columns">
                    <a href="{{ url_for('admin_classes.admin_classes') }}"><input type="button" value="Cancel"</a>
                </div>
            {% endif %}
        </div>
        </div>
        </div>
    </form>
    </div>

{% endblock content %}