{% extends "admin/admin.html" %}

{% block content %}

    <div class="row twelve columns">
        <div class="offset-by-four five columns">
            <h4>Gear Categories Admin</h4>
        </div>
    </div>
    <div class="row twelve columns">
        <form action="{{ url_for('admin_gear.add_gear_category') }}">
            <input type="submit" class="button add" value="Add Category">
        </form>
    </div>
    <div class="row twelve columns">
        <div class="row twelve columns">
            <table class="twelve columns">
                <th>Name</th>
                <th>Description</th>
                <th>No. Items</th>
                {% for category in categories %}
                <tr class="table-row">
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.items.all() | length }}</td>
                    <td>
                        <a href="{{ url_for('admin_gear.update_category', id=category.id) }}">
                            <input class="button edit" type="button" value="Update">
                        </a>
                        <a href="{{ url_for('admin_gear.delete_category', id=category.id) }}">
                            <input  class="button delete" type="button" value="Delete" 
                            onclick="return confirm('Do you want to delete category {{ category.name }}')">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row twelve columns">
        <form action="{{ url_for('admin_gear.add_gear_category') }}">
            <input type="submit" class="button add" value="Add Category">
        </form>
    </div>
    
{% endblock content %}