{% extends "admin/admin.html" %}

{% block content %}

    <div class="row twelve columns">
        <div class="offset-by-four four columns">
            <h4>Gear Admin</h4>
        </div>
    </div>
    <div class="row twelve columns">
        <form action="{{ url_for('admin_gear.add_gear') }}">
            <input type="submit" value="Add Gear" class="button add">
        </form>
    </div>
    <div class="row twelve columns">
        <table class="twelve columns">
            <th>Name</th>
            <th>Image</th>
            <th>Care <br>Instructions</th>
            <th>Qty</th>
            <th>Categories</th>
            {% for item in items %}
            <tr class="table-row">
                <td>{{ item.name }}</td>
                <!--<td>{{ item.image }}</td>-->
                <td>
                    <a href="{{ url_for('static', filename='img/gear/' + item.image) }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ url_for('static', filename='img/gear/' + item.img_thumb) }}">
                    </a>
                </td>
                {% if item.care_instructions %}
                <td>Y</td>
                {% else %}
                <td>N</td>
                {% endif %}
                <td>{{ item.qty }}</td>
                <td>{{ item.categories.count() }}</td>
                <td>
                    <a href="{{ url_for('admin_gear.update_item', id=item.id) }}"> 
                        <input class="button edit" type="button" value="Edit">
                    </a>
                    <a href="{{ url_for('admin_gear.delete_item', id=item.id) }}">
                        <input  class="button delete" type="button" value="Delete" 
                        onclick="return confirm('Do you want to delete item {{ item.name }}')">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row twelve columns">
        <form action="{{ url_for('admin_gear.add_gear') }}">
            <input type="submit" value="Add Gear" class="button add">
        </form>
    </div>

{% endblock content %}