{% extends "base.html" %}

{% block admin_content %}
    <div class="row twelve columnes">
        <h4 class="offset-by-four three columns">Admin Panel</h4>
    </div>
    <div class="row">
        <div id="navbar" class="twelve columns">
            <a href="" class="navlink">Classes</a>
            <a href="" class="navlink">Students</a>
            <a href="" class="navlink">Users</a>
            <a href="{{ url_for('admin_gear.categories_admin') }}" class="navlink">Gear Categories</a>
            <a href="{{ url_for('admin_gear.gear_admin') }}" class="navlink">Gear</a>
        </div>
    </div>
    <hr>
{% endblock admin_content %}
{% block content %} {% endblock content %}