<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            {% if title %}
            <title>{{ title }} - Gan Teva Gear Rental</title>
            {% else %}
            <title>Welcome to Gan Teva Gear Rental</title>
            {% endif %}

            <link rel="stylesheet" href="../static/stylesheets/normalize.css">
            <link rel="stylesheet" href="../static/stylesheets/skeleton.css">
            <link rel="stylesheet" href="../static/stylesheets/site.css">

        {% endblock head %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="one-third column offset-by-nine">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.user', id=current_user.id) }}" class="navlink" style="position:relative; top:10px; left:12px;"><img src="../static/img/user-avatar.png" width="32" height="32" alt="account-avatar"></a>
                {% endif %}

                {% if current_user.is_anonymous %}
                <a href="{{ url_for('users.login') }}" class="navlink">Sign In</a>
                <a href="{{ url_for('users.register') }}" class="navlink">Register</a>
                {% elif current_user.is_admin %}
                <a href="{{ url_for('admin.admin') }}" class="navlink">Admin</a>
                <a href="{{ url_for('users.logout') }}" class="navlink">Logout</a>
                {% else %}
                <a href="{{ url_for('users.logout') }}" class="navlink">Logout</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="offset-by-five one column">
                <a href="https://ganteva.org/"><img id="header-img" src="../static/img/gan-teva-logo.webp"></a>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-four five columns"><h3>GanTeva Gear Rental</h3></div>
        </div>
        <div class="row">
            <div id="navbar" class="twelve columns">
                <a href="{{ url_for('main.index') }}" class="navlink">Home</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.user', id=current_user.id) }}" class="navlink">Profile</a>
                {% else %}
                <a href="{{ url_for('users.login') }}" class="navlink">Login</a>
                {% endif %}
            </div>
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content%}{% endblock content %}
    </div>
    </body>
</html>