{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% if current_user.is_authenticated %}
        <h4 class="offset-by-four three columns">My Homepage</h4>
        {% else %}
        <h4 class="offset-by-four three columns">Welcome</h4>
        {% endif %}
    </div>
    {% if current_user.is_anonymous %}
    <p>Please register <a href="{{ url_for('users.register') }}">here.</a></p>
    {% else %}
    <p>Welcome to your homepage {{ user.fname }}.</p>
    {% endif %}
{% endblock %}